<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Spacedeck Open – {% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="[[ '/images/favicon.png' | cdn ]]" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="[[ '/stylesheets/style.css' | cdn ]]">
    <script> var csrf_token = '[[ csrf_token ]]'; </script>
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
